.result {
    height: auto;
    width: 100%;
    min-width: 1000px;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    margin: 30px;
    
  }
  
  .result p {
    font-size: 59px;
    margin: 15px;
    text-align: center;
  
  }
  
  .Button {
    width: 90%;
    height: auto;
    max-width: 1000px;
    margin: auto;

  }
  
  .Button {
    display: block;
    background-color: rgb(255, 255, 255);
    text-align: center;

  }
  
  Button {
    width: 95px;
    height: 110px;
    font-size: 55px;
    text-align: center;

  }
